* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

:root {
  --color: rgb(105, 45, 105);
}

body {
  background-color: #ffe1e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.father-container {
  width: 500px;
  height: 400px;
  border: 20px solid pink;
  margin-top: 10%;
  border-radius: 10px;
}

.mother-container {
  background-color: #fcf0f2;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 5px 5px 5px #fa95a6, -5px 5px 5px #fa95a6;
          box-shadow: 5px 5px 5px #fa95a6, -5px 5px 5px #fa95a6;
  border-radius: 10px;
  position: relative;
}

.mother-container .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.mother-container .intro h1 {
  color: #692d69;
  -webkit-animation: animate-header 1.5s;
          animation: animate-header 1.5s;
}

.mother-container .intro .start-game {
  -webkit-animation: animate-start 1.5s;
          animation: animate-start 1.5s;
}

.mother-container .intro .reset {
  margin-top: 5px;
  display: none;
  -webkit-animation: animate-reset 1s;
          animation: animate-reset 1s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.mother-container .intro button {
  background-color: pink;
  border: none;
  padding: 10px;
  border-radius: 15px;
  margin-top: 20%;
  cursor: pointer;
  color: #a8152e;
  -webkit-box-shadow: 5px 5px 5px #fa95a6;
          box-shadow: 5px 5px 5px #fa95a6;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.mother-container .intro button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.mother-container .intro .type {
  display: none;
  text-align: center;
  margin-top: 50px;
  -webkit-animation: type 1.5s;
          animation: type 1.5s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.mother-container .intro .type h2 {
  color: #692d69;
}

.mother-container .image img {
  width: 0px;
  height: 100px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.mother-container .score {
  width: 150px;
  -webkit-box-shadow: 5px 5px 5px #fa95a6, 5px -2px 5px #fa95a6;
          box-shadow: 5px 5px 5px #fa95a6, 5px -2px 5px #fa95a6;
  position: absolute;
  bottom: 6px;
  display: none;
  -webkit-animation: animate-score 1s;
          animation: animate-score 1s;
}

.mother-container .score h4 {
  text-align: center;
}

.mother-container .score div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mother-container .coming-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mother-container .coming-container .coming {
  background-color: #ec8fae;
  width: 250px;
  margin: auto;
  text-align: center;
  height: 150px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px palevioletred, -5px 5px 5px palevioletred;
          box-shadow: 5px 5px 5px palevioletred, -5px 5px 5px palevioletred;
  position: fixed;
  top: 10%;
  -webkit-animation: coming-soon 2s;
          animation: coming-soon 2s;
}

.container {
  display: none;
  -webkit-animation: game-area 1s;
          animation: game-area 1s;
}

.container .game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 270px;
}

.container .game-container .box {
  width: 80px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color);
  border: 3px solid rebeccapurple;
  font-size: 30px;
}

@-webkit-keyframes animate-header {
  from {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes animate-header {
  from {
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes animate-start {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes animate-start {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes type {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes type {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes game-area {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes game-area {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes animate-reset {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes animate-reset {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes animate-score {
  from {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes animate-score {
  from {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes coming-soon {
  from {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes coming-soon {
  from {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=styles.css.map */